body{
    background-image: url('wp3963420-breaking-bad-wallpapers.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

table{
    width: 80%;
    margin: 40px auto;
    background: hsla(106, 92%, 24%, 0.5);
}

table.list{
    text-align: center;
    width: 100%;
    color: #eee;
}

td{
    border: 1px solid #215f1b73;
    text-align: left;
    padding: 8px 15px;
    color: #eee;
}

input[type="text"],input[type="number"]{
    width:91%;
    padding:12px 20px;
    margin:8px 0;
    display: inline-block;
    border: 1px solid #d5ff01c1;
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: hsl(76, 94%, 47%);
}

input[type="reset"]:hover{
    background: hsl(76, 94%, 47%);
}

button{
    background: #eee;
    padding:6px 12px;
    margin:15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

button:hover{
    background:hsl(76, 94%, 47%); 
}